footer {
  display: flex;
  width: 100%;
  position: relative;
  color: white;
  margin-top: 4.5vw;
  padding-bottom: 2.5vw;
  letter-spacing: 0.15em;
  flex-direction: column;
  background-color: black;
  @media all and (max-width: 1024px) {
    padding-bottom: 16vw;
  }

  picture {
    display: contents;
  }
  img {
    width: 99%;
    align-self: center;

    @media all and (max-width: 1024px) {
      width: 100%;
      align-self: center;
    }
  }

  .name {
    line-height: 1.7;
    letter-spacing: 0.15em;
    font-size: $font-18;
    padding-left: 2vw;
    font-weight: bold;
    margin-top: 3vw;
    margin-bottom: 2vw;
    font-family: "Noto Sans TC";
    @media all and (max-width: 1024px) {
      font-size: $content;
      padding-left: 5vw;
      margin-top: 13vw;
      margin-bottom: 5vw;
    }
  }

  .info-box {
    display: flex;
    flex-direction: column;
    font-size: 0.9vw;
    padding-left: 2vw;
    font-family: "Noto Sans TC";
    @media all and (max-width: 1024px) {
      font-size: $font-mobile-27;
      padding-left: 5vw;
      padding-right: 2vw;
    }
    div {
      margin-bottom: 0.3vw;
      line-height: 1.6;
      @media all and (max-width: 1024px) {
        margin-bottom: 1vw;
      }
    }
    .pc {
      @media all and (max-width: 1024px) {
        display: none;
      }
    }
    .mobile {
      @media all and (max-width: 1024px) {
        display: flex;
      }
    }
  }
}
